<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Digital WHOmanities.</div>
      <div class="intro-lead-in">
        Ciclo di seminari e workshop <br />
        sul presente e sul futuro delle DH
      </div>
      <a
        class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
        href="./live.html"
        >Guarda le live!</a
      >
    </div>
  </div>
</header>

<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <hr />
        <h3 class="section-subheading mb-3">Il progetto</h3>
        <p style="text-align: left">
          Questo progetto, a cura degli studenti del corso di laurea
          internazionale di
          <a
            href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge"
            target="_blank"
            >DHDK</a
          >
          (Digital Humanities and Digital Knowledge) e della Prof.ssa Tomasi,
          con il patrocinio del dipartimento d'eccellenza
          <a href="https://ficlit.unibo.it" target="_blank">FICLIT</a>
          (Filologia Classica e Italianistica), nasce dalla volontà di creare un
          <b>punto di contatto</b> e mediazione tra enti pubblici e privati
          impegnati nel settore del <b>lifecycle management</b> di oggetti
          culturali e umanisti digitali. Vogliamo mettere in risalto competenze
          e know-how dei professionisti impegnati nel campo delle Digital
          Humanities, valorizzando le conoscenze di chi opera all'<b
            >intersezione fra discipline umanistiche e tecnologie
            informatiche</b
          >.
        </p>
        <p style="text-align: left">
          Per farlo abbiamo scelto di invitare relatori di respiro
          internazionale provenienti sia da centri di ricerca, che da
          istituzioni pubbliche e enti privati. Le giornate in cui si svolgono i
          cicli di incontri sono strutturate in modo da
          <b>favorire il dialogo e l'interazione</b> fra partecipanti e ospiti
          attraverso laboratori in cui chiunque può mettere in gioco le proprie
          competenze, imparare, praticare e riflettere.
        </p>
        <p style="text-align: left">
          Lo scopo principe del nostro progetto è dunque quello di
          <b>riflettere sull’identità professionale dell'umanista digitale</b>,
          dialogando con professionisti e stakeholders così da individuare le
          skills utili a determinare nuovi bisogni nelle realtà pubbliche e
          private. Fine ultimo di Digital WHOmanities è
          <b>condividere modelli teorici, metodologici e tecnici</b> utili a
          valorizzare l'innovazione e la fruizione degli oggetti culturali. Di
          seguito trovate le principali aree del sapere analizzate dal nostro
          progetto:
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x research"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">Ricerca <br />nelle DH</p>
      </div>
      <div class="col-md">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">Editoria digitale</p>
      </div>
      <div class="col-md">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x tech"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">Tecnologie Web</p>
      </div>
      <div class="col-md">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x biblio"></i>
          <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">Biblioteche, archivi e musei</p>
      </div>
      <div class="col-md">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x ling"></i>
          <i class="fas fa-language fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">Linguistica <br />computazionale</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">A chi ci rivolgiamo</h2>
        <hr />
        <p style="text-align: left">
          L'evento è aperto a tutti! Ci rivolgiamo in particolar modo a studenti
          e curiosi che vogliono scoprire il mondo delle Digital Humanities
          anche da un punto di vista professionale: quali sono le carriere
          possibili, gli ambiti di interesse, e le possibilità di questa figura.
          Ci rivolgiamo anche, nel senso opposto, a aziende ed enti che vogliono
          iniziare a conoscere la figura dell'umanista digitale nel mondo del
          lavoro.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">
          Studenti ed esperti <br />di Digital Humanities
        </h4>
        <p class="text-muted">
          Studenti già iscritti a un corso di Digital Humanities, laureati,
          dottorandi e esperti del settore.
        </p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-university fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Nuove leve</h4>
        <p class="text-muted">
          Ci rivolgiamo in particolare agli studenti del
          <a href="https://ficlit.unibo.it/it">FICLIT</a> ma anche a tutti i
          ragazzi in procinto di laurearsi che si sentono attratti dalle Digital
          Humanities.
        </p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Aziende ed enti</h4>
        <p class="text-muted">
          Aziende ed Enti incuriositi o interessati alla nuova figura emergente
          del Digital Humanist e alle sue potenzialità lavorative.
        </p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Interessati</h4>
        <p class="text-muted">
          L’evento è rivolto a chiunque sia interessato al settore delle Digital
          Humanities o curioso di scoprirne di più.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light page-section" id="speakers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Ospiti</h2>
        <hr />
        <br />
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x research"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b
            ><a
              href="https://centri.unibo.it/dharc/en/centre/centre-people/francesca-tomasi"
              target="_blank"
              >Francesca Tomasi</a
            ></b
          ><br />Coordinatore di
          <a
            href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge"
            target="_blank"
            >DHDK</a
          >
          e Presidente del
          <a href="https://centri.unibo.it/dharc/en" target="_blank">/DH.arc</a>
          (Digital Humanities Advanced Research Centre)
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x research"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b
            ><a href="https://essepuntato.it/" target="_blank"
              >Silvio Peroni</a
            ></b
          ><br />Professore di Informatica presso l'Università di Bologna,
          Co-direttore di
          <a href="http://opencitations.net/" target="_blank">OpenCitations</a>
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x research"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b
            ><a
              href="https://www.unive.it/data/persone/21292086"
              target="_blank"
              >Franz Fischer</a
            ></b
          ><br />Presidente del
          <a href="https://www.unive.it/pag/39287/" target="_blank">VeDPH</a>
          (Venice Centre for Digital and Public Humanities)
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b>Claudio Tubertini</b><br />Digital Publisher presso Casa editrice
          <a href="https://clueb.it/" target="_blank">CLUEB</a>
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x tech"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b>Francesca di Donato</b><br />Research projects presso
          <a
            href="https://www.netseven.it/servizi/digital-humanities/"
            target="_blank"
            >Net7</a
          >
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x biblio"></i>
          <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b
            ><a href="http://www.giacomogolinelli.com/" target="_blank"
              >Giacomo Golinelli</a
            ></b
          ><br />Chief Operating Officer presso
          <a href="https://www.promemoriagroup.com/it" target="_blank"
            >Promemoria</a
          >
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x editing"></i>
          <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b>Angelo Ventriglia</b><br />Digital Editor presso
          <a href="https://www.francoangeli.it/Home.aspx" target="_blank"
            >FrancoAngeli</a
          >
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x biblio"></i>
          <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b>Laura Moro</b><br />
          <a
            href="https://www.beniculturali.it/mibac/export/MiBAC/index.html#&panel1-1"
            target="_blank"
            >MiBACT</a
          >
          (Ministero dei beni e delle attività culturali e del turismo)
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x ling"></i>
          <i class="fas fa-language fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b
            ><a
              href="https://www.linkedin.com/in/andreabolioli/"
              target="_blank"
              >Andrea Bolioli</a
            ></b
          ><br />Responsabile di Ricerca e Innovazione presso
          <a href="https://www.celi.it/" target="_blank">CELI</a>
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-3x">
          <i class="fas fa-circle fa-stack-2x biblio"></i>
          <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"></h4>
        <p class="text-muted">
          <b>Claudio Leombroni</b><br />Responsabile del servizio archivi,
          biblioteche e musei dell’Istituto per i Beni artistici culturali e
          naturali (<a
            href="http://ibc.regione.emilia-romagna.it/"
            target="_blank"
            >IBC</a
          >)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="programma">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Programma</h2>
        <hr />
        <p style="text-align: left">
          Clicca sulla giornata per scoprire il programma o scarica il
          <a
            href="../../assets/../../assets/img/flyer_digitalwho1.2_rev26apr.pdf"
            target="_blank"
            ><b>flyer</b></a
          >
          dell'evento. Ogni giornata prevede una
          <b>conferenza aperta a tutti</b> che sarà disponibile in live tramite
          il nostro
          <a
            href="https://www.youtube.com/channel/UCOVCBjlRRaShRctrw8sfJoQ/featured"
            target="_blank"
            >canale YouTube</a
          >
          e a seguire un <b>workshop a numero chiuso</b> accessibile tramite la
          piattaforma
          <a
            href="https://products.office.com/it-it/microsoft-teams/download-app"
            target="_blank"
            >Microsoft Teams</a
          >, organizzato da ogni relatore che è intervenuto nella conferenza.
          <b
            >L'accesso al workshop è riservato esclusivamente agli utenti
            registrati per un massimo di 25 posti. Iscrizione tramite il link
            disponibile nella sezione <a href="#prenotati">Booking</a></b
          >.
        </p>
        <p style="text-align: left">
          <span class="highlight"
            ><b>Le conferenze e i workshop saranno tenuti in italiano</b>, ad
            eccezione degli interventi del Prof. Franz Fischer che saranno
            invece in inglese.</span
          >
        </p>
      </div>
    </div>

    <!-- -->

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="firstev-tab"
          data-toggle="tab"
          href="#firstev"
          role="tab"
          aria-controls="firstev"
          aria-selected="true"
          >18 Maggio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="secondev-tab"
          data-toggle="tab"
          href="#secondev"
          role="tab"
          aria-controls="secondev"
          aria-selected="false"
          >25 Maggio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="thirdev-tab"
          data-toggle="tab"
          href="#thirdev"
          role="tab"
          aria-controls="thirdev"
          aria-selected="false"
          >1 Giugno</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="fourthev-tab"
          data-toggle="tab"
          href="#fourthev"
          role="tab"
          aria-controls="fourthev"
          aria-selected="false"
          >8 Giugno</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="firstev"
        role="tabpanel"
        aria-labelledby="firstev-tab"
      >
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/start.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Apertura dei lavori</h4>
                    <h5 class="subheading">9.30 - 9.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Presentazione progetto "Digital WHOmanities"
                    </p>
                  </div>
                  <div class="timeline-heading">
                    <h5 class="subheading">9.45 - 10.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Introduzione alla giornata: presentazione del corso di
                      laurea in
                      <a
                        href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge"
                        target="_blank"
                        >DHDK</a
                      >
                      e del centro
                      <a href="https://centri.unibo.it/dharc/en" target="_blank"
                        >/DH.arc</a
                      >.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Silvio Peroni</h4>
                    <h5 class="subheading">10.00 - 10.30</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a href="https://www.unibo.it/it" target="_blank"
                        >Università di Bologna</a
                      >
                      <br />
                      <a href="http://opencitations.net/" target="_blank"
                        >OpenCitations</a
                      >
                      e bibliometria.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker1.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Angelo Ventriglia</h4>
                    <h5 class="subheading">10.30 - 11.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a
                        href="https://www.francoangeli.it/Home.aspx"
                        target="_blank"
                        >FrancoAngeli Editore</a
                      >
                      <br />
                      I mestieri del libro nell'era digitale.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/coffee.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Pausa</h4>
                    <h5 class="subheading">11.00 - 11.15</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Breve pausa prima dell'inizio delle attività pratiche.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/laptop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Ricerca nelle DH</h4>
                    <h5 class="subheading">11.15 - 12.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Silvio Peroni. Le specifiche
                      saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/workshop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Editoria digitale</h4>
                    <h5 class="subheading">12.00 - 12.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Angelo Ventriglia. Le
                      specifiche saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="secondev"
        role="tabpanel"
        aria-labelledby="secondev-tab"
      >
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/start.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Apertura dei lavori</h4>
                    <h5 class="subheading">9.30 - 10.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Presentazione progetto "Digital WHOmanities" e
                      introduzione alla giornata.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Claudio Tubertini</h4>
                    <h5 class="subheading">10.00 - 10.30</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a href="https://clueb.it/" target="_blank"
                        >CLUEB Publishing Company</a
                      >
                      <br />
                      I mestieri del libro nell'era digitale.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker1.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Francesca Di Donato</h4>
                    <h4 style="color: #c70039" ;="">CANCELLATO</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a
                        href="https://www.netseven.it/servizi/digital-humanities/"
                        target="_blank"
                        >Net7</a
                      >
                      <br />
                      Cultural Heritage and Digital Humanities.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/coffee.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Pausa</h4>
                    <h5 class="subheading">11.00 - 11.15</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Breve pausa prima dell'inizio delle attività pratiche.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/laptop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Editoria digitale</h4>
                    <h5 class="subheading">11.15 - 12.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Claudio Tubertini. Le
                      specifiche saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/workshop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Tecnologie Web</h4>
                    <h4 style="color: #c70039" ;="">CANCELLATO</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Francesca Di Donato. Le
                      specifiche saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="thirdev"
        role="tabpanel"
        aria-labelledby="thirdev-tab"
      >
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/start.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Apertura dei lavori</h4>
                    <h5 class="subheading">9.30 - 10.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Presentazione progetto "Digital WHOmanities" e
                      introduzione alla giornata.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Giacomo Golinelli, Angelo La Gorga e Corrado Trione</h4>
                    <h5 class="subheading">10.00 - 10.30</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a
                        href="https://www.promemoriagroup.com/it"
                        target="_blank"
                        >Promemoria</a
                      >
                      <br />
                      Archiviare nell'era digitale.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker1.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Franz Fischer</h4>
                    <h5 class="subheading">10.30 - 11.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a href="https://www.unive.it/pag/39287/" target="_blank"
                        >VeDPH</a
                      >
                      <br />
                      Presentazione del centro VeDPH.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/coffee.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Pausa</h4>
                    <h5 class="subheading">11.00 - 11.15</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Breve pausa prima dell'inizio delle attività pratiche.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/laptop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Biblioteche, archivi e musei</h4>
                    <h5 class="subheading">11.15 - 12.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Giacomo Golinelli, Angelo La
                      Gorga e Corrado Trione. Le specifiche saranno fornite
                      durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/workshop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Ricerca nelle DH</h4>
                    <h5 class="subheading">12.00 - 12.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Franz Fischer. Le specifiche
                      saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="fourthev"
        role="tabpanel"
        aria-labelledby="fourthev-tab"
      >
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/start.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Apertura dei lavori</h4>
                    <h5 class="subheading">9.30 - 9.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Presentazione progetto "Digital WHOmanities" e
                      introduzione alla giornata.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Laura Moro</h4>
                    <h5 class="subheading">9.45 - 10.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a
                        href="https://www.beniculturali.it/mibac/export/MiBAC/index.html#&panel1-1"
                        target="_blank"
                        >MiBACT</a
                      >
                      - Istituto centrale per la digitalizzazione del patrimonio
                      culturale
                      <br />
                      Lo Stato della digitalizzazione.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker1.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Claudio Leombroni e Klaus Kempf*</h4>
                    <p style="font-size: 0.7em">
                      *L'intervento di Klaus Kempf è stato pre-registrato per
                      l'occasione.
                    </p>
                    <h5 class="subheading">10.00 - 10.30</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      IBC - Istituto per i Beni Artistici Culturali Naturali ER
                      <br />
                      BSB - Bayerische Staatsbibliothek
                      <br />
                      Biblioteche, archivi e musei nell'era digitale.
                    </p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/speaker.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Andrea Bolioli</h4>
                    <h5 class="subheading">10.30 - 10.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a href="https://www.celi.it/" target="_blank">CELI</a> -
                      Language Technology
                      <br />
                      Data Science e Natural Language Processing.
                    </p>
                  </div>
                </div>
              </li>

              <li class="timeline">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/coffee.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Conclusione</h4>
                    <h5 class="subheading">10.45 - 11.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Chiusura del ciclo di conferenze.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/workshop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Linguistica computazionale</h4>
                    <h5 class="subheading">11.00 - 11.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Andrea Bolioli e Alessio Bosca
                      (CELI). Le specifiche saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>

              <li class="timeline">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/coffee.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Pausa</h4>
                    <h5 class="subheading">11.45 - 12.00</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Breve pausa prima dell'inizio delle attività pratiche.
                    </p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="../../assets/img/about/laptop.jpg"
                    alt=""
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Workshop - Biblioteche, archivi e musei</h4>
                    <h5 class="subheading">12.00 - 12.45</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Attività pratica guidata da Francesca Ricci (IBC). Le
                      specifiche saranno fornite durante l’attività.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- -->
  </div>
</section>

<!-- FIXME -->

<!-- <section class="bg-light page-section" id="contatti">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contatti e newsletter</h2>
          <hr>
          <h3 class="section-subheading text-muted">Per qualsiasi informazione: </h3>
            <p>Lasciaci un messaggio a <span><a href="mailto:dhdkevents@gmail.com?Subject=Incontri%20Digital%20Whomanities%20" id="mail-policy" class="mail-address" target="_top">dhdkevents@gmail.com</a></span>
            <br>o iscriviti alla newsletter per restare aggiornato su tutti gli incontri!</p>
              <div id="success">
              <a class="btn btn-primary btn-xl text-uppercase" href="https://mailchi.mp/4e224faa1d9b/dwho">Iscriviti alla newsletter</a>
              </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Il nostro team</h2>
          <hr>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row our-team">
        <div class="col">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/francesca.jpg" alt="">
            <p class="text-muted">Francesca Mangialardo<br>
            <a href="mailto:francescamangialardo3@gmail.com">francescamangialardo3@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/francescamangialardo/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/eleonora.jpg" alt="">
            <p class="text-muted">Eleonora Peruch<br>
            <a href="mailto:eleonora.peruch@gmail.com">eleonora.peruch@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/eleonora-peruch-29133511b/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/teo.jpg" alt="">
            <p class="text-muted">Carlo Teo Pedretti<br>
            <a href="mailto:carloteo.pedretti@gmail.com">carloteo.pedretti@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/carloteo-pedretti/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/anna.jpg" alt="">
            <p class="text-muted">Anna Sofia Lippolis<br>
            <a href="mailto:annasofia.lippolis@studio.unibo.it">annasofia.lippolis@studio.unibo.it</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/anna-sofia-lippolis-3068a115b/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/milena.jpg" alt="">
            <p class="text-muted">Milena Corbellini<br>
            <a href="mailto:milenacorbellini@gmail.com">milenacorbellini@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/milena-corbellini-968a571aa/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/lucia.jpg" alt="">
            <p class="text-muted">Lucia Giagnolini<br>
            <a href="mailto:lucia.giagnolini12@gmail.com">lucia.giagnolini12@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/lucia-giagnolini-21544417b/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/mattia.jpg" alt="">
            <p class="text-muted">Mattia Spadoni<br>
            <a href="mailto:mattiaspado1996@gmail.com">mattiaspado1996@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mattia-spadoni-5a7b90142/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/giulia.jpg" alt="">
            <p class="text-muted">Giulia Renda<br>
            <a href="mailto:giuliarenda94@gmail.com">giuliarenda94@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/giuliarenda/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
            </div>
        </div>

         <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/img/team/davide.jpg" alt="">
            <p class="text-muted">Davide Apolloni<br>
            <a href="mailto:davideapolloni777@gmail.com">davideapolloni777@gmail.com</a></p>
            <ul class="list-inline team-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/davide-apolloni-568602159/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted"></p>
        </div>
      </div>
    </div>
  </section> -->
